<!DOCTYPE html>
<html>
  <head>
      <title>TabMan</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link type="text/css" rel="stylesheet" href="/styles/popup.css">
      <link type="text/css" rel="stylesheet" href="/styles/bootstrap.min.css">
      <script src="/scripts/jquery.min.js"></script>
      <script src="/scripts/bootstrap.bundle.min.js"></script>
      <script src="/scripts/tab_helper.js"></script>
      <script src="/scripts/folder_helper.js"></script>
      <script src="/scripts/tab_manager.js"></script>
      <script src="/scripts/view_helper.js"></script>
  </head>
  <body class="bg-grey">

    <nav id="tabManagerActions" class="navbar navbar-expand-lg nav nav-pills border-bottom">

      <a class="navbar-brand text-purple font-weight-bold" href="#"><img src="/icons/icon_48.png"> | TabMan</a>

      <div class="collapse navbar-collapse justify-content-end" id="navbarActions">
        <ul class="navbar-nav">
          <li class="nav-item mr-4">
            <a class="nav-link active" href="#manageOpenTabs" data-pageId="manageOpenTabs">Manage Open Tabs</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="#manageArchivedTabs" data-pageId="manageArchivedTabs">Manage Archived Tabs</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="#settings" data-pageId="settings">Settings</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      <div class="row">
        <div class="order-0 column flex-fill col-2 border-right">
          <div class="row h4 text-cool-grey mb-4">Existing Folders</div>
          <div class="row mb-4">
            <button class="btn btn-purple" id="createNewFolder" data-toggle="modal" data-target="#newFolderOverlayModal">+ New Folder</button>
          </div>
          <div id="folderList">
            <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
            <span class="">Loading Folder</span>
          </div>
        </div>
        <div class="order-1 column col-10">
          <div class="row h4 text-cool-grey mb-4 justify-content-center">Listing of Open Tab</div>
          <div id="tabList" class="container m-4 h-75 overflow-auto">
            <div class="d-flex justify-content-center align-items-center  text-secondary">
              <div class="mr-4 spinner-border" role="status" aria-hidden="true"></div>
              <div class="loaderText">Loading Tab Details...</div>
            </div>
          </div>
          <div id="tabActionList" class="row justify-content-end">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-purple ml-4" data-toggle="modal" data-target="#defaultArchiveOverlayModal" disabled>
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span class="btnTitle">Default Archive</span>
            </button>

            <button type="button" class="btn btn-purple ml-4" data-toggle="modal" data-target="#customArchiveOverlayModal" disabled>
              <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
              <span class="btnTitle">Custom Archive</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Loader -->
    <div class="container d-none" id="loader">
      <div class="d-flex justify-content-center align-items-center  text-secondary">
        <div class="mr-4 spinner-border" role="status" aria-hidden="true"></div>
        <div class="loaderText">Loading Tab Details...</div>
      </div>
    </div>

    <!-- archive folder entry -->
    <div class="row mb-1 d-none fe folderEntry">
      <div class="btn btn-outline-purple">
        <img src="/icons/folder.svg" class="mr-2 bg-grey"><span class="folderName"></span>
      </div>
    </div>

    <!-- open tab entry -->
    <div class="row align-items-baseline shadow mb-4 d-none te tabEntry">
      <div class="col-1 text-center form-check">
        <input class="form-check-input" type="checkbox">
      </div>
      <div class="col-11">
        <div class="row"><span class="text-muted">Tab Title&nbsp:&nbsp</span><span class="tabTitle"></span></div>
        <div class="row"><span class="text-muted">Tab Url&nbsp&nbsp&nbsp:&nbsp</span><span class="tabUrl"></span></div>
      </div>
    </div>

    <!-- Archive to default folder -->
    <div class="defaultArchiveTabModal">
      <div class="modal fade" id="defaultArchiveOverlayModal" tabindex="-1" role="dialog" aria-labelledby="defaultArchiveOverlayModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-purple" id="archiveOverlayModalTitle">Archive to Default Folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="">
                  Selected Tabs will be added to default archive folder and closed. Are you sure you want to proeceed?
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-purple" id="defaultArchiveSubmit">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <span class="btnTitle">Save changes</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Archive to default folder -->
    <div class="newFolderModal">
      <div class="modal fade" id="newFolderOverlayModal" tabindex="-1" role="dialog" aria-labelledby="newFolderOverlayModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="min-height: 320px;">
            <div class="modal-header">
              <h5 class="modal-title text-purple" id="archiveOverlayModalTitle">Create New Archive Folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="">
                  <form>
                    <div class="form-group">
                      <label for="folderName">New Folder Name&nbsp;&nbsp;</label>
                      <input type="text" class="form-control" id="folderName" placeholder="">
                      <div class="invalid-feedback errorMessage" role="alert"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-purple" id="newFolderSubmit">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <span class="btnTitle">Create Folder</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- custom folder radio template -->
    <div class="form-check d-none cfr customFolderRadio">
      <input class="form-check-input" type="radio" name="customFolderName" >
      <label class="form-check-label" for="customFolderName"></label>
    </div>

    <!-- Archive to custom folder -->
    <div class="customArchiveTabModal">
      <div class="modal fade" id="customArchiveOverlayModal" tabindex="-1" role="dialog" aria-labelledby="customArchiveOverlayModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="min-height: 320px;">
            <div class="modal-header">
              <h5 class="modal-title text-purple" id="archiveOverlayModalTitle">Archive to Custom Folder</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="">
                  <div class="form-text mb-2">Please select folder to which tabs will be archived</div>
                  <form id="customFolderForm" class="ml-4">
                  </form>
                  <div class="invalid-feedback errorMessage" role="alert">Please select any one folder</div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-purple" id="customArchiveSubmit" disabled>
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                <span class="btnTitle">Save To Folder</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
